$bg-color: rgba(45, 55, 72, 0.5);
$accent-color: #e2e8f0;
$accent-color-mobile: #909294;

#round {
  width: 100px;
  height: 100px;

  position: fixed;
  cursor: pointer;

  bottom: 3%;
  left: 1rem;

  -webkit-tap-highlight-color: transparent;
  // overflow: hidden;
}

@media only screen and (min-width: 640px) {
  #round {
    width: 80px;
    height: 80px;
    left: 15%;
    bottom: 4%;
  }
}

@media only screen and (min-width: 768px) {
  #round {
    left: 20%;
  }
}

@media only screen and (min-width: 1280px) {
  #round {
    left: 50%;
    transform: translateX(-320px);
  }
}

#relative-wrapper {
  background-color: $bg-color;
  border-radius: 160px;
  border: 2px solid $accent-color;
  opacity: 0.6;
  position: relative;
  height: 50px;
  width: 50px;
  top: 0%;

  -webkit-box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.2);

  animation-name: bounce;
  animation-duration: 0.4s;
  animation-play-state: paused;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@media only screen and (min-width: 640px) {
  #relative-wrapper {
    width: 80px;
    height: 80px;
  }
}

// animations

#relative-wrapper:hover {
  animation-play-state: running;
}

@keyframes bounce {
  from {
    top: 0%;
  }
  to {
    top: -8%;
  }
}

#wrapper {
  top: 30%;
  left: 36%;
  position: absolute;
}

@media only screen and (min-width: 640px) {
  #wrapper {
    top: 35%;
    left: 39%;
  }
}

.arrow {
  width: 10px;
  height: 10px;
  /* background-color: red; */
  border-top: 2px solid $accent-color;
  border-right: 2px solid $accent-color;
  transform: rotate(-45deg);
}

@media only screen and (min-width: 640px) {
  .arrow {
    width: 15px;
    height: 15px;
  }
}
