@keyframes ldio-zabcld2jlu9 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-zabcld2jlu9 div {
  left: 46.5px;
  top: 27.5px;
  position: absolute;
  animation: ldio-zabcld2jlu9 linear 1.1627906976744184s infinite;
  background: #cc578d;
  width: 7px;
  height: 7px;
  border-radius: 3.5px / 3.5px;
  transform-origin: 3.5px 22.5px;
}
.ldio-zabcld2jlu9 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.0465116279069766s;
  background: #cc578d;
}
.ldio-zabcld2jlu9 div:nth-child(2) {
  transform: rotate(36deg);
  animation-delay: -0.9302325581395348s;
  background: #8455c3;
}
.ldio-zabcld2jlu9 div:nth-child(3) {
  transform: rotate(72deg);
  animation-delay: -0.8139534883720929s;
  background: #f38172;
}
.ldio-zabcld2jlu9 div:nth-child(4) {
  transform: rotate(108deg);
  animation-delay: -0.6976744186046511s;
  background: #cc578d;
}
.ldio-zabcld2jlu9 div:nth-child(5) {
  transform: rotate(144deg);
  animation-delay: -0.5813953488372092s;
  background: #8455c3;
}
.ldio-zabcld2jlu9 div:nth-child(6) {
  transform: rotate(180deg);
  animation-delay: -0.4651162790697674s;
  background: #f38172;
}
.ldio-zabcld2jlu9 div:nth-child(7) {
  transform: rotate(216deg);
  animation-delay: -0.34883720930232553s;
  background: #cc578d;
}
.ldio-zabcld2jlu9 div:nth-child(8) {
  transform: rotate(252deg);
  animation-delay: -0.2325581395348837s;
  background: #8455c3;
}
.ldio-zabcld2jlu9 div:nth-child(9) {
  transform: rotate(288deg);
  animation-delay: -0.11627906976744184s;
  background: #f38172;
}
.ldio-zabcld2jlu9 div:nth-child(10) {
  transform: rotate(324deg);
  animation-delay: 0s;
  background: #cc578d;
}
.loadingio-spinner-spinner-d80suo869ov {
  width: 40px;
  height: 40px;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}
.ldio-zabcld2jlu9 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.51);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-zabcld2jlu9 div {
  box-sizing: content-box;
}

@media only screen and (min-width: 640px) {
  .loadingio-spinner-spinner-d80suo869ov {
    padding-bottom: 3.3rem;
  }
}

@media only screen and (min-width: 1024px) {
  .loadingio-spinner-spinner-d80suo869ov {
    padding-bottom: 3rem;
  }
}
