.gradient {
  background: rgb(132, 85, 195);
  background: linear-gradient(354deg, rgba(132, 85, 195, 1) 19%, rgba(243, 129, 114, 1) 50%, rgba(204, 87, 141, 1) 100%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* <- here it is */
}
