$icon-color: #e2e8f0;

$tooltip-bg-color: rgba(45, 55, 72, 0.33);

.gradient {
  background: rgb(132, 85, 195);
  background: linear-gradient(354deg, rgba(132, 85, 195, 0.9) 19%, rgba(243, 129, 114, 0.9) 50%, rgba(204, 87, 141, 0.9) 100%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.tooltip .tooltip-text {
  visibility: hidden;
  text-align: center;
  position: absolute;
  z-index: 100;
  background-color: $tooltip-bg-color;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}
