$tooltip-bg-color: rgba(45, 55, 72, 0.33);

.tooltip {
  display: inline;
}

.tooltip .tooltip-text {
  display: inline;
  visibility: hidden;
  text-align: center;
  position: absolute;
  z-index: 100;
  background-color: $tooltip-bg-color;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}
