.input {
  display: inline-block;
  z-index: 1;
  position: relative;
}

.dropdown {
  position: absolute;
  display: block;
  transform-origin: top;
  z-index: 1;
}

li:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
}

li:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
}

.max-height {
  max-height: 2.6rem;
}
